<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。

    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中

-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <add key="VoteType" value="1"></add>
    <!-- 连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false -->
    <add key="ConnectionString" value="server=192.168.18.2;database=SD_OANew_test;uid=sa;pwd=yuxit2008;Persist Security Info=True"/>
    <!--<add key="ConnectionString" value="server=THINKPAD-PC\SQL2008;database=SD_OA;uid=sa;pwd=13530153;Persist Security Info=True"/>-->
    <!--<add key="ConnectionString" value="server=222.73.93.146;database=SDOA;uid=sa;pwd=yuxitsql2010;Persist Security Info=True"/>-->
    <!--8618B53C32BF8E0B6CD3BDFF59B9F24BE1C6D586A5915C8B6DC69A09ABB2DF60A4026BDE8E76B6FDE2BFCEA3FA8E06CB-->
    <add key="FCKedITor:BASEPath" value="~/fckeditor/"/>
    <add key="FCKedITor:UserFilesPath" value="~/upload/"/>
    <!--发送邮件的基本设置-->
    <add key="SenderEmailSererAddress" value="smtp.163.com"></add>
    <add key="SenderUserEmail" value="stec_oa@163.com"></add>
    <add key="UserEmailPassword" value="63020288"></add>
  </appSettings>
  <connectionStrings>
    <add name="SD_OAConnectionString" connectionString="Data Source=192.168.18.2;Initial Catalog=SD_OANew_test;User ID=sa;Password=yuxit2008" providerName="System.Data.SqlClient"/>
    <!--<add name="SD_OAConnectionString" connectionString="Data Source=THINKPAD-PC\SQL2008;Initial Catalog=SD_OA;User ID=sa;Password=13530153" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SD_OAConnectionString" connectionString="Data Source=222.73.93.146;Initial Catalog=SDOA;User ID=sa;Password=yuxitsql2010" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>

    <!-- 
            设置 compilation debug="true" 将调试符号插入

            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。

        -->
    <sessionState timeout="360"/>
    <!--<httpModules>
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="PassportAuthentication" type="System.Web.Security.PassportAuthenticationModule" />
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule" />
      <add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule" />
      <add name="Profile" type="System.Web.Profile.ProfileModule" />
    </httpModules>-->

    <httpRuntime maxRequestLength="809600" useFullyQualifiedRedirectUrl="true" executionTimeout="45" enableKernelOutputCache="true"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，

            以标识传入的用户。 
        -->
    <authentication mode="Forms">
      <forms name=".TunnelLogin" loginUrl="~/Default.aspx" path="/" timeout="40"></forms>
    </authentication>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <authorization>
      <deny users="?" />
    </authorization>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>-->

    <compilation debug="true">
    </compilation>
  </system.web>
  <location path="ValidateCode.aspx">
    <system.web>
      <pages enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" />
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="image">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index/images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index/css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="upload/Newsfiles/Newsfiles1">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
