body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#FFFFFF;
	font-size: 12px;
	color:#000000;
}

.yjhdownborder
{
border-bottom-color:#6D6D6D;
border-bottom-style:dotted;
border-bottom-width:1px;
}
.yjhrightborder
{
border-right-color:#6D6D6D;
border-right-style:dotted;
border-right-width:1px;
}
.big3{text-align:center;font-size:18px; font-weight:bold}
#Layer1 {
	position:absolute;
	width:222px;
	height:58px;
	z-index:1000;
	left: 320px;
	top: 86px;
	overflow: auto;
	background-color: #FFFFFF;
	border-bottom:#000000 dotted 1px;
	border-left:#000000 dotted 1px;
	border-top:#000000 dotted 1px;
	border-right:#000000 dotted 1px;
}
.nolink
{text-decoration:none;}
.yjh_selectkh
{ font-size:12px;
color:#2F2F2F;
}

.inputtext
{height:18px;
width:125px;
vertical-align:middle;
font-size:12px;
color:#2A1F00;
border-bottom:#A0A0A4 double 1px;
border-top:#FFFFFF double 0px;
border-left:#FFFFFF double 0px;
border-right:#FFFFFF double 0px;
}
.input100
{height:18px;
width:100px;
vertical-align:middle;
font-size:12px;
color:#2A1F00;
border-bottom:#A0A0A4 double 1px;
border-top:#FFFFFF double 0px;
border-left:#FFFFFF double 0px;
border-right:#FFFFFF double 0px;
}
.input10
{height:18px;
width:60px;
vertical-align:middle;
font-size:12px;
color:#2A1F00;
border-bottom:#A0A0A4 double 1px;
border-top:#FFFFFF double 0px;
border-left:#FFFFFF double 0px;
border-right:#FFFFFF double 0px;
}
.input50
{height:16px;
width:50px;
vertical-align:middle;
font-size:12px;
color:#2A1F00;
border-bottom:#A0A0A4 double 1px;
border-top:#FFFFFF double 0px;
border-left:#FFFFFF double 0px;
border-right:#FFFFFF double 0px;
}
.inputadd
{height:18px;
width:260px;
vertical-align:middle;
font-size:12px;
color:#2A1F00;
border-bottom:#A0A0A4 double 1px;
border-top:#FFFFFF double 0px;
border-left:#FFFFFF double 0px;
border-right:#FFFFFF double 0px;
}
.inputtext_num
{height:18px;
width:70px;
vertical-align:middle;
text-align:right;
font-size:12px;
color:#2A1F00;
border-bottom:#A0A0A4 double 1px;
border-top:#FFFFFF double 0px;
border-left:#FFFFFF double 0px;
border-right:#FFFFFF double 0px;
}
.inputtext_login
{height:18px;
width:150px;
vertical-align:middle;
background-color:#FFFFFF; border:1px solid #1f8102;
font-size:12px;
color:#000000;

}

.hong
{color:#FF0000;}
.tou
{
font-family: "ו";
	font-size: 14px;
	color: #164c98;
	text-decoration:none;
font-weight:bold;
}
.tou1
{
font-family: "ו";
	font-size: 14px;
	color: #164c98;
	font-weight:bold;
	text-decoration:none;
}
.bt
{
color:#000000;
	font-size: 14pt;
	font-weight: bolder;
	font-family: "ו";
	letter-spacing: 4px;
}
.butt{
border: 1px double #D6D6D6;
    background-color:#F3F3F3;
    height: 28px;
}
.input_fs
{
width:35px;
height:18px;
border-bottom:#A0A0A4 double 1px;
border-top:#FFFFFF double 0px;
border-left:#FFFFFF double 0px;
border-right:#FFFFFF double 0px;
}
.input_fs_n
{
width:27px;
height:18px;
border-bottom:#A0A0A4 double 1px;
border-top:#FFFFFF double 0px;
border-left:#FFFFFF double 0px;
border-right:#FFFFFF double 0px;
}
.rig
{border-right:#ECECEC double 1px;
}
.db
{
border-bottom:#6D6D6D double 1px;
}

.bj{background-repeat:no-repeat;}
.lblzifu{ color:Gray;}
